//
//  debug.xcconfig
//
//

// BASIC

APP_NAME = CovPass ⚙️


// API

API_URL = https:/$()/de.test.dscg.ubirch.com/trustList/DSC/


// TLS CERTIVICATE PINNING

TLS_CERTIFICATE_NAME = de.test.dscg.ubirch.com.combined.der


// SEAL VERIVICATION

TRUST_LIST_PUBLIC_KEY = pubkey.pem
TRUST_LIST_STATIC_DATA = dsc.json

// Certificate/public key pinning
PINNING_HASHES = 99cbc210bec8bad16f0827e733b1972e2a7b110cfbbc01e749c2b8572ddbf306,35bc5ff1a9e64dde09042804e1502140c6cbbe24fba4d5d0b9417f007849aed5,f4827a693bd4e2e76fb145778caf92a86370a56787a31c007770b4c423efe77a

PINNING_HASHES_VAAS = 9720c40c10804e4859afd5425bc0efd2f91a8ff4601c051f9a08cdd3f4b6a7f6,b5b2db195b572b4ad1125c66b657d25f75c709a092dbb9ac052de0ca23bb7e93

// DCC RULES

DCC_RULES_URL = https:/$()/distribution.dcc-rules.de
DCC_RULES_FILE = dcc-rules.json
DCC_DOMESTIC_RULES_FILE = dcc-domestic-rules.json

// BOOSTER (NOTIFICATION) RULES

BOOSTER_RULES_URL = https:/$()/distribution-cff4f7147260.dcc-rules.de/bnrules
DOMESTIC_RULES_URL = https:/$()/distribution-cff4f7147260.dcc-rules.de/domesticrules
