//
//  debug.xcconfig
//
//

// BASIC

APP_NAME = CovPass ⚙️


// API

API_URL = https:/$()/api.recertify.demo.ubirch.com/api/certify/v2/reissue/cbor


// TLS CERTIVICATE PINNING

TLS_CERTIFICATE_NAME = rsa-certify.demo.ubirch.com
TLS_CERTIFICATE_FILES = Certificates/DEMO/TLS/
TLS_CERTIFICATES_DESTINATION = VaccinationCommon/Sources/VaccinationCommon/Resources/TLS/


// SEAL VERIVICATION

CA_CERTIFICATE_SIGNATURES = dtrust_demo-bmg_seal_ubirch-02
CA_CERTIFICATE_FILES = Certificates/DEMO/CA/
CA_CERTIFICATES_DESTINATION = VaccinationCommon/Sources/VaccinationCommon/Resources/CA/
