//
//  release.xcconfig
//
//

// BASIC

APP_NAME = CovPass


// API

API_URL = https:/$()/de.dscg.ubirch.com/trustList/DSC/


// TLS CERTIVICATE PINNING

TLS_CERTIFICATE_NAME = rsa-certify.prod.ubirch.com-V3_1982645.der


// SEAL VERIVICATION

TRUST_LIST_PUBLIC_KEY = pubkey.pem
TRUST_LIST_STATIC_DATA = dsc.json
