<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>BOOSTER_RULES_URL</key>
	<string>$(BOOSTER_RULES_URL)</string>
	<key>BUNDLE_NAME</key>
	<string>$(BUNDLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>DCC_RULES_FILE</key>
	<string>$(DCC_RULES_FILE)</string>
	<key>DCC_RULES_TLS_CERTIFICATE_NAME</key>
	<string>$(DCC_RULES_TLS_CERTIFICATE_NAME)</string>
	<key>DCC_RULES_URL</key>
	<string>$(DCC_RULES_URL)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>PINNING_HASHES</key>
	<string>$(PINNING_HASHES)</string>
	<key>TLS_CERTIFICATE_NAME</key>
	<string>$(TLS_CERTIFICATE_NAME)</string>
	<key>TRUST_LIST_PUBLIC_KEY</key>
	<string>$(TRUST_LIST_PUBLIC_KEY)</string>
	<key>TRUST_LIST_STATIC_DATA</key>
	<string>$(TRUST_LIST_STATIC_DATA)</string>
</dict>
</plist>
