<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_URL</key>
	<string>$(API_URL)</string>
	<key>BOOSTER_RULES_URL</key>
	<string>$(BOOSTER_RULES_URL)</string>
	<key>BUNDLE_NAME</key>
	<string>$(BUNDLE_NAME)</string>
	<key>CERTIFICATE_REVOCATION_INFO_ENCRYPTION_KEY</key>
	<string>$(CERTIFICATE_REVOCATION_INFO_ENCRYPTION_KEY)</string>
	<key>CERTIFICATE_REVOCATION_PINNING_HASHES</key>
	<string>$(CERTIFICATE_REVOCATION_PINNING_HASHES)</string>
	<key>CERTIFICATE_REVOCATION_TRUST_KEY</key>
	<string>$(CERTIFICATE_REVOCATION_TRUST_KEY)</string>
	<key>CERTIFICATE_REVOCATION_URL</key>
	<string>$(CERTIFICATE_REVOCATION_URL)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>CFBundleName</key>
	<string>$(APP_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>DCC_DOMESTIC_RULES_FILE</key>
	<string>$(DCC_DOMESTIC_RULES_FILE)</string>
	<key>DCC_BN_RULES_FILE</key>
	<string>$(DCC_BN_RULES_FILE)</string>
	<key>DCC_RULES_TLS_CERTIFICATE_NAME</key>
	<string>$(DCC_RULES_TLS_CERTIFICATE_NAME)</string>
	<key>DOMESTIC_RULES_URL</key>
	<string>$(DOMESTIC_RULES_URL)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Erlauben Sie den Zugriff, um QR Codes scannen zu können.</string>
	<key>PINNING_HASHES</key>
	<string>$(PINNING_HASHES)</string>
	<key>TLS_CERTIFICATE_NAME</key>
	<string>$(TLS_CERTIFICATE_NAME)</string>
	<key>TRUST_LIST_PUBLIC_KEY</key>
	<string>$(TRUST_LIST_PUBLIC_KEY)</string>
	<key>TRUST_LIST_STATIC_DATA</key>
	<string>$(TRUST_LIST_STATIC_DATA)</string>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
