//
//  debug.xcconfig
//
//

// BASIC

APP_NAME = Check ⚙️


// API

API_URL = https:/$()/de.test.dscg.ubirch.com/trustList/DSC/


// TLS CERTIVICATE PINNING

TLS_CERTIFICATE_NAME = de.test.dscg.ubirch.com.combined.der


// SEAL VERIVICATION

TRUST_LIST_PUBLIC_KEY = pubkey.pem
TRUST_LIST_STATIC_DATA = dsc.json
