//
//  debug.xcconfig
//
//

// BASIC

APP_NAME = Check ⚙️


// API

API_URL = https:/$()/de.test.dscg.ubirch.com/trustList/DSC/


// TLS CERTIVICATE PINNING

TLS_CERTIFICATE_NAME = de.test.dscg.ubirch.com.combined.der


// SEAL VERIVICATION

TRUST_LIST_PUBLIC_KEY = pubkey.pem
TRUST_LIST_STATIC_DATA = dsc.json


// DCC RULES

DCC_RULES_URL = https:/$()/distribution-dfe4f5c711db.dcc-rules.de
DCC_RULES_FILE = dcc-rules.json
DCC_RULES_TLS_CERTIFICATE_NAME = DCC-Distr.int.tls.der
