//
//  release.xcconfig
//
//

// BASIC

APP_NAME = CovPass Check


// API

API_URL = https:/$()/de.test.dscg.ubirch.com/trustList/DSC/


// TLS CERTIVICATE PINNING

TLS_CERTIFICATE_NAME = de.test.dscg.ubirch.com.combined.der


// SEAL VERIVICATION

TRUST_LIST_PUBLIC_KEY = pubkey.pem
TRUST_LIST_STATIC_DATA = dsc.json

// Certificate/public key pinning
PINNING_HASHES = 99cbc210bec8bad16f0827e733b1972e2a7b110cfbbc01e749c2b8572ddbf306,35bc5ff1a9e64dde09042804e1502140c6cbbe24fba4d5d0b9417f007849aed5,f4827a693bd4e2e76fb145778caf92a86370a56787a31c007770b4c423efe77a

// DCC RULES

DCC_RULES_URL = https:/$()/distribution.dcc-rules.de
DCC_RULES_FILE = dcc-rules.json

// BOOSTER (NOTIFICATION) RULES

BOOSTER_RULES_URL = https:/$()/distribution-cff4f7147260.dcc-rules.de/bnrules
