//
//  release.xcconfig
//
//

// BASIC

APP_NAME = CovPass Check


// API

API_URL = https:/$()/api.recertify.ubirch.com/api/certify/v2/reissue/cbor


// TLS CERTIVICATE PINNING

TLS_CERTIFICATE_NAME = rsa-certify.prod.ubirch.com
TLS_CERTIFICATE_FILES = Certificates/PROD/TLS/
TLS_CERTIFICATES_DESTINATION = CovPassCommon/Sources/CovPassCommon/Resources/TLS/


// SEAL VERIVICATION

CA_CERTIFICATE_SIGNATURES = 20210507_BMG-Doctor-Offices_1971307,20210507_BMG-Vaccination-Centers_1971309
CA_CERTIFICATE_FILES = Certificates/PROD/CA/
CA_CERTIFICATES_DESTINATION = CovPassCommon/Sources/CovPassCommon/Resources/CA/
